<LINK media=screen href="/pic/style.css" type=text/css rel=stylesheet>




<div  class="aboutchanpin" >

<div class="titleleft"  >
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品展示</div>

 <!--  左边tit -->

<div class="tianchong">

<ul>
{aspcms:navlist type=5}
<li>
<a title="[navlist:name]" href="[navlist:link]"> >>[navlist:name]</a>

</li>{/aspcms:navlist}




</ul>


</div>




</div>

 <div  class="gexian"></div>


<div  class="aboutchanpin" >
<div class="titleleft"  >
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系方式</div>

 <!--  左边tit -->
 
 
  <div  class="tianchong" style="padding-left:20px; line-height:24px;">
  
  
联系人：潘经理<br>


手机：17712485994<br>



电话：0512-57799286<br>
传真：0512-57799286<br>
Q&nbsp;&nbsp;Q：670550557/929956295<br />
邮箱：aochuang.1@163.com<br />

网址：www.ks-ac.cn<br />


 </div>

 
 
</div>
