<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<title>[content:title]-{aspcms:sortname}-{aspcms:sitetitle}- </title>
<meta name="Keywords" content="{aspcms:sortkeyword}" >
<meta name="Description" content="{aspcms:sortdesc}" >
<META http-equiv=X-UA-Compatible content=IE=EmulateIE7>
<LINK media=screen href="/pic/style.css" type=text/css rel=stylesheet>
</HEAD>

<BODY>
    {aspcms:top}
	
	
	
	
  
  <div class="main">
  <div class="aboutleft">
   
   
{aspcms:template src=left.html}










   
   
   
   
   
   
   
    </div>
   <!--  左边结束 -->
  
     <!--  右边开始 -->
	 
    <div class="aboutright">
	 
	<div class="titleright"  >
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[content:title]</div>

<div class="aboutnr">



<table width="100%" border="0" cellspacing="15" cellpadding="0" >
                <tr>
                  <td align="center"><H2 style="margin:0; padding:0; font-size:22px">[content:title]</H2></td>
                </tr>
                <tr>
                  <td align="center" style="height:30px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc">日期：[content:date]                    点击：[content:visits]</td>
                </tr>
                <tr>
                  <td><div class="content">[content:info]</div></td>
                </tr>
                <tr>
                  <td align="center" style="border-top: solid 1px #ccc; line-height:25px;">上一篇：{aspcms:prev}
                    下一篇：{aspcms:next}</td>
                </tr>
      </table>






</div>
	 
	 
	 
	 
	 
	 
    </div>
  
  
  </div>
  
  
	
	
	
	
	
	
	
{aspcms:foot}
</BODY>
</HTML>
